<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner Help</title>
    <link rel="stylesheet" href="../static/index.css"><!--CSS-->
</head>
<body>
    <h1>Help with Using the Scanner</h1>
    <a href="/">Home</a>

    <h3>Reset to Factory Settings</h3>
    <img src="../static/scanner/factory-reset.jpeg" style="border: 1px solid black;">

    <h3>Set Scanner to Bluetooth</h3>
    <img src="../static/scanner/scanner-bluetooth.jpeg" style="border: 1px solid black;">

    <h3>Set Scanner to USB Dongle</h3>
    <img src="../static/scanner/scanner-usb.jpeg" style="border: 1px solid black;">

    <h3>Beep Options</h3>
    <img src="../static/scanner/beep-off.jpeg" style="border: 1px solid black;">
    <img src="../static/scanner/beep-low.jpeg" style="border: 1px solid black;">

    <h3>Sleep Options</h3>
    <img src="../static/scanner/sleep-3min.jpeg" style="border: 1px solid black;">
    <img src="../static/scanner/sleep-30s.jpeg" style="border: 1px solid black;">
</body>
</html>